{% load static %}

<div class="about-section">
    <h1>About Me</h1>
    <p>Some text about who we are and what we do.</p>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static "images/Pic.jpeg" %}" alt="Praneeth Kondraju" style="width:30%">
        <div class="container">
          <h2>Praneeth Kondraju</h2>
          <p class="title"><strong>Desgination:</strong> Site Reliability Engineer</p>
          <p><strong>Summary:</strong> I'm a SRE in my current working organization.</p>
        </div>
      </div>
    </div>
  </div>